/// Colors
/// C.1. Color Definition
$black:     #000;
$white:     #fff;
$gray:      #9e9e9e;

$blue-gray:   #607d8b;
$deep-purple: #673ab7;
$orange:    #ff9800;
$blue:    #2196f3;
$red:   #f44336;
$green:   #4caf50;

$colors: (
  'black':     $black,
  'white':     $white,
  'gray':      $gray,

  'blue-gray':   $blue-gray,
  'deep-purple': $deep-purple,
  'orange':     $orange,
  'blue':       $blue,
  'red':        $red,
  'green':      $green,
);


/// C.2. Tints
/// C.2.a Gray tints
$gray-50:   #fafafa;
$gray-100:  #f5f5f5;
$gray-200:  #eeeeee;
$gray-300:  #e0e0e0;
$gray-400:  #bdbdbd;
$gray-500:  #9e9e9e;
$gray-600:  #757575;
$gray-700:  #616161;
$gray-800:  #424242;
$gray-900:  #212121;

$grays: (
  '50':   $gray-50,
  '100':  $gray-100,
  '200':  $gray-200,
  '300':  $gray-300,
  '400':  $gray-400,
  '500':  $gray-500,
  '600':  $gray-600,
  '700':  $gray-700,
  '800':  $gray-800,
  '900':  $gray-900,
);


/// C.2.b Blue-gray tints
$blue-gray-50:  #eceff1;
$blue-gray-100: #cfd8dc;
$blue-gray-200: #b0bec5;
$blue-gray-300: #90a4ae;
$blue-gray-400: #78909c;
$blue-gray-500: #607d8b;
$blue-gray-600: #546e7a;
$blue-gray-700: #455a64;
$blue-gray-800: #37474f;
$blue-gray-900: #263238;

$blue-grays: (
  '50':   $blue-gray-50,
  '100':  $blue-gray-100,
  '200':  $blue-gray-200,
  '300':  $blue-gray-300,
  '400':  $blue-gray-400,
  '500':  $blue-gray-500,
  '600':  $blue-gray-600,
  '700':  $blue-gray-700,
  '800':  $blue-gray-800,
  '900':  $blue-gray-900,
);


/// C.2.c Deep-purple tints
$deep-purple-50:  #ede7f6;
$deep-purple-100: #d1c4e9;
$deep-purple-200: #b39ddb;
$deep-purple-300: #9575cd;
$deep-purple-400: #7e57c2;
$deep-purple-500: #673ab7;
$deep-purple-600: #5e35b1;
$deep-purple-700: #512da8;
$deep-purple-800: #4527a0;
$deep-purple-900: #311b92;

$deep-purples: (
  '50':   $deep-purple-50,
  '100':  $deep-purple-100,
  '200':  $deep-purple-200,
  '300':  $deep-purple-300,
  '400':  $deep-purple-400,
  '500':  $deep-purple-500,
  '600':  $deep-purple-600,
  '700':  $deep-purple-700,
  '800':  $deep-purple-800,
  '900':  $deep-purple-900,
);


/// C.2.d Orange tints
$orange-50:   #fff3e0;
$orange-100:  #ffe0b2;
$orange-200:  #ffcc80;
$orange-300:  #ffb74d;
$orange-400:  #ffa726;
$orange-500:  #ff9800;
$orange-600:  #fb8c00;
$orange-700:  #f57c00;
$orange-800:  #ef6c00;
$orange-900:  #e65100;

$oranges: (
  '50':   $orange-50,
  '100':  $orange-100,
  '200':  $orange-200,
  '300':  $orange-300,
  '400':  $orange-400,
  '500':  $orange-500,
  '600':  $orange-600,
  '700':  $orange-700,
  '800':  $orange-800,
  '900':  $orange-900,
);


/// C.2.e Blue tints
$blue-50:   #e3f2fd;
$blue-100:  #bbdefb;
$blue-200:  #90caf9;
$blue-300:  #64b5f6;
$blue-400:  #42a5f5;
$blue-500:  #2196f3;
$blue-600:  #1e88e5;
$blue-700:  #1976d2;
$blue-800:  #1565c0;
$blue-900:  #0d47a1;

$blues: (
  '50':   $blue-50,
  '100':  $blue-100,
  '200':  $blue-200,
  '300':  $blue-300,
  '400':  $blue-400,
  '500':  $blue-500,
  '600':  $blue-600,
  '700':  $blue-700,
  '800':  $blue-800,
  '900':  $blue-900,
);


/// C.2.f Red tints
$red-50:  #ffebee;
$red-100: #ffcdd2;
$red-200: #ef9a9a;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;

$reds: (
  '50':   $red-50,
  '100':  $red-100,
  '200':  $red-200,
  '300':  $red-300,
  '400':  $red-400,
  '500':  $red-500,
  '600':  $red-600,
  '700':  $red-700,
  '800':  $red-800,
  '900':  $red-900,
);


/// C.2.g Green tints
$green-50:  #e8f5e9;
$green-100:  #c8e6c9;
$green-200:  #a5d6a7;
$green-300:  #81c784;
$green-400:  #66bb6a;
$green-500:  #4caf50;
$green-600:  #43a047;
$green-700:  #388e3c;
$green-800:  #2e7d32;
$green-900:  #1b5e20;

$greens: (
  '50':   $green-50,
  '100':  $green-100,
  '200':  $green-200,
  '300':  $green-300,
  '400':  $green-400,
  '500':  $green-500,
  '600':  $green-600,
  '700':  $green-700,
  '800':  $green-800,
  '900':  $green-900,
);


/// D.1. Utilities
@function color($color-name) {
  $color: map-get($colors, $color-name);
  @if ($color) {
    @return $color;
  }
  @warn 'Color not found in $colors.';
}

@function tint($tint-map, $tint) {
  @if ($tint-map) {
    $color: map-get($tint-map, $tint);
    @if ($color) {
      @return $color;
    }
    @warn 'Tint not found in $tint-map.';
  }
  @warn 'Tints map not found.';
}
