/// F. Fonts
$path: './../fonts/';

/// F.4. Utilities
$fonts: (
  'oswald': $str-oswald,
  'montserrat': $str-montserrat,
  'source-code-pro': $str-source-code-pro,
);

@function font($font-name) {
  $font: map-get($fonts, $font-name);
  @if ($font) {
    @return $font;
  } @else {
    @warn 'Font not found in $font.';
  }
}