/// F. Footer

/// F.1. Containers & Blocks
footer, .footer {
  color: $white;
  background-color: $black;
}

/// F.99. Misc
.dd {
  font-style: normal;
  display: inline-block;
  cursor: default;
}

.dd-dr {
  font-family: theme-family($key-family-heading);
}