/// F. Footer

/// F.1. Containers & Blocks
footer, .footer {
  color: $white;
  background-color: $black;
}


/// F.2. Type
.heading-footer {
  color: $black;
  background-color: theme-color($key-primary, $key-tint-800);
  margin-bottom: theme-margin($key-margin-heading);
}

.content-footer {
  color: theme-color($key-col-gray, $key-tint-800);
  background-color: $black;
}


/// F.3. Footer Grid
.grid-footer {
  display: grid;
}


/// F.99. Misc
.dd {
  font-style: normal;
  display: inline-block;
  cursor: default;
}

.dd-dr {
  font-family: theme-family($key-family-heading);
}