/// M. Main

/// M.1. Root
html, body {
  font-family: theme-family($key-family-body);
  font-weight: font-weight($key-weight-regular);
}


/// M.2. Type
@for $h from 1 through 5 {
  h#{$h}, .h#{$h} {
    $heading: theme-heading('h#{$h}');
    font-family: map-get($heading, 'font-family');
    font-weight: map-get($heading, 'font-weight');
    font-size: map-get($heading, 'font-size');
    font-style: map-get($heading, 'font-style');
  }
}

.display {
  $heading: theme-heading($key-fsize-display);
  font-family: map-get($heading, 'font-family');
  font-weight: map-get($heading, 'font-weight');
  font-size: map-get($heading, 'font-size');
  font-style: map-get($heading, 'font-style');
}

small, .small, sub, .sub, sup, .sup {
  font-size: 0.8em;
}

code, .code, pre, .pre {
  font-family: theme-family($key-family-monospace);
}

a, .a {
  color: theme-color($key-secondary, $key-tint-500);
  text-decoration: none;
  @extend .transition-all;
  
  &:hover {
    color: theme-color($key-interactable, $key-tint-500);
  }
}

p, .p {
 @include margin-bottom;
}

.img-block {
  display: block;
  width: 100%;
  @include margin-bottom;
}

.img-rounded {
  border-radius: 1rem;
}

.img-circle {
  border-radius: 50%;
}

@each $name, $weight in $font-weights {
  .text-weight-#{$name} {
    font-weight: $weight;
  }
}

@each $name, $style in $font-styles {
  .text-style-#{$name} {
    font-style: $style;
  }
}

@each $name, $fsize in $theme-fsizes {
  .text-size-#{$name} {
    font-size: $fsize;
  }
}

@each $name, $align in $text-aligns {
  .text-align-#{$name} {
    text-align: $align;
  }
}


/// M.3. Buttons
.btn {
  display: inline-block;
  font-weight: font-weight($key-weight-regular);
  text-align: center;
  font-size: theme-fsize($key-fsize-regular-l);
  font-family: theme-family($key-family-heading);
  padding: theme-fsize($key-fsize-regular-l) * 0.25 theme-fsize($key-fsize-regular-l) * 0.5;
  border: none;
  cursor: pointer;
}


/// M.4. Color
@each $name, $color in $theme-colors {
  $tint: $key-tint-500;

  .col-#{$name} {
    color: map-get($color, $tint);
  }

  .bg-col-#{$name} {
    background-color: map-get($color, $tint);
  }

  .border-col-#{$name} {
    border-color: map-get($color, $tint);
  }

  .alert-col-#{$name} {
    background-color: map-get($color, $key-tint-200);
    border: thin solid map-get($color, $key-tint-500);

    .alert-title {
      color: map-get($color, $key-tint-900);
      @include margin-bottom;
    }
  }


  @if ($name != $key-interactable) {
    .btn-#{$name} {
      color: map-get($color, $key-tint-200);
      background-color: map-get($color, $tint);
      @extend .transition-all;
      @extend .shadow-br;
  
      &:hover {
        color: map-get($color, $key-tint-300);
        background-color: map-get($color, $key-tint-700);
      }

      &:disabled {
        color: map-get($color, $key-tint-200);
        background-color: map-get($color, $key-tint-400);
      }
    }
  }
}

.btn-interactable {
  color: theme-color($key-secondary, $key-tint-200);
  background-color: theme-color($key-secondary, $key-tint-500);
  @extend .transition-all;
  @extend .shadow-br;

  &:hover {
    color: theme-color($key-interactable, $key-tint-300);
    background-color: theme-color($key-interactable, $key-tint-700);
  }

  &:disabled {
    color: theme-color($key-interactable, $key-tint-200);
    background-color: theme-color($key-interactable, $key-tint-400);
  }
}


/// M.5. Blocks
.alert {
  display: block;
  padding: spacer($key-spacer-2);
  width: 100%;
  color: $black;
  @include margin-bottom;
}


/// M.6. Utilities
@each $name, $direction in $shadow-directions {
  .shadow-#{$name} {
    @include shadow($theme-shadow-color, $name);
  }

  .shadow-#{$name}-inset {
    @include shadow($theme-shadow-color, $name, inset);
  }

  .shadow-text-#{$name} {
    @include shadow-text($theme-shadow-color, $name);
  }
}

.shadow-none {
  box-shadow: none;
}

.shadow-text-none {
  text-shadow: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.transition-all {
  transition: all 0.15s ease-in;
}