:root {
  font-family: theme-family('body-family');
  font-weight: font-weight('regular');
}

html, body {
  font-family: theme-family('body-family');
  font-weight: font-weight('regular');
}

@for $h from 1 through 5 {
  h#{$h}, .h#{$h} {
    $heading: theme-heading('h#{$h}');
    font-family: map-get($heading, 'font-family');
    font-weight: map-get($heading, 'font-weight');
    font-size: map-get($heading, 'font-size');
    font-style: map-get($heading, 'font-style');
  }
}

.display {
  $heading: theme-heading('display');
  font-family: map-get($heading, 'font-family');
  font-weight: map-get($heading, 'font-weight');
  font-size: map-get($heading, 'font-size');
  font-style: map-get($heading, 'font-style');
}
.nav-side {
  position: fixed;
  background-color: grays('300');
  top: 30vh;
}

.side-link {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.side-link-item:nth-child(odd) {
  background-color: tint($grays, '200');
}

.side-link-item:nth-child(even) {
  background-color: tint($grays, '300');
}

.side-link-item {
  text-align: center;
  padding: spacer('2');
}

section, .section {
  min-height: 80vh;
}

section:nth-child(odd), .section:nth-child(odd) {
  background-color: color('white');
}

section:nth-child(even), .section:nth-child(even) {
  background-color: tint($grays, '100');
}