/// A. About

/// A.1. Type
.section-about {
  color: $white;
  background-color: theme-color($key-primary, $key-tint-900);
};

.heading-about {
  color: theme-color($key-primary, $key-tint-900);
  background-color: $black;
  margin-bottom: theme-margin($key-margin-heading);
}

.content-about-desc {
  margin-top: spacer($key-spacer-3);
}


/// A.2. Content
.content-about {
  padding: spacer($key-spacer-2);
  min-height: theme-fsize($key-fsize-x-large) * 6;
  color: theme-color($key-primary, $key-tint-500);
  background-color: theme-color($key-primary, $key-tint-900);
  font-size: theme-fsize($key-fsize-regular-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: breakpoint($key-bp-phone)) {
  .content-about {
    min-height: theme-fsize($key-fsize-x-large) * 8;
  }
}

.btn-about {
  font-size: theme-fsize($key-fsize-x-large);
}


/// A.3. Content Grid
.cell-about-me {
  grid-area: about-me;
}

.cell-about-download {
  grid-area: about-download;
}

.grid-about {
  display: grid;
  grid-template-areas:
    'about-me'
    'about-download';
}

@media only screen and (min-width: breakpoint($key-bp-phone)) {
  .grid-about {
    grid-template-areas:
      'about-me about-download';
  }
}