/// L. Landing Section

/// L.1. Blocks
.section-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include bg-pattern;
};


/// L.2. Type
.heading-landing {
  font-size: theme-fsize($key-fsize-heading-l);
  color: theme-color($key-interactable, $key-tint-500);
  margin-top: auto;
  @include shadow-text($key-col-gray);
}

.tagline-landing {
  color: theme-color($key-secondary, $key-tint-a400);
  font-size: theme-fsize($key-fsize-large);
  font-style: font-style($key-style-italic);
  margin-top: spacer($key-spacer-2);
  @include shadow-text($key-primary);
}

.seemore-landing {
  font-size: theme-fsize($key-fsize-heading);
  color: theme-color($key-primary, $key-tint-500);
  margin-top: auto;
  @include shadow-text($key-col-gray);
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


@media screen and (min-width: breakpoint($key-bp-tablet)) {
  .heading-landing {
    font-size: theme-fsize($key-fsize-display);
  }

  .tagline-landing {
    font-size: theme-fsize($key-fsize-x-large);
  }

  .section-landing {
    font-size: theme-fsize($key-fsize-heading-l);
  }
}