/// C. Contact Section

/// C.1. Containers & Blocks
.section-contact {
  color: $black;
  background-color: $white;
}

.content-contact {
  padding: spacer($key-spacer-5) spacer($key-spacer-2);
  min-height: theme-fsize($key-fsize-x-large) * 6;
  color: theme-color($key-primary, $key-tint-500);
  background-color: theme-color($key-primary, $key-tint-800);
}


/// C.2. Type
.heading-contact {
  color: theme-color($key-primary, $key-tint-800);
  background-color: theme-color($key-primary, $key-tint-500);
  margin-bottom: theme-margin($key-margin-heading);
}


/// C.3. Contact Grid
.cell-contact-name {
  grid-area: contact-name;
}

.cell-contact-email {
  grid-area: contact-email;
}

.cell-contact-mobile {
  grid-area: contact-mobile;
}

.cell-contact-subject {
  grid-area: contact-subject;
}

.cell-contact-message {
  grid-area: contact-message;
}

.cell-contact-submit {
  grid-area: contact-submit;
}

.grid-contact {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'contact-name'
    'contact-email'
    'contact-mobile'
    'contact-subject'
    'contact-message'
    'contact-submit';
  grid-column-gap: spacer($key-spacer-2);
}

@media only screen and (min-width: breakpoint($key-bp-phone-l)) {
  .grid-contact {
    grid-template-areas:
      'contact-name contact-name'
      'contact-email contact-mobile'
      'contact-subject contact-subject'
      'contact-message contact-message'
      'contact-submit contact-submit';
  }
}


/// C.4. Form elements
.form-field {
  display: flex;
  margin-bottom: spacer($key-spacer-2);
}

.form-label {
  color: theme-color($key-primary, $key-tint-400);
  background-color: theme-color($key-primary, $key-tint-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: theme-fsize($key-fsize-regular) * 2;
  min-height: theme-fsize($key-fsize-regular) * 2;
  font-size: theme-fsize($key-fsize-regular);
}

.form-control {
  color: theme-color($key-primary, $key-tint-400);
  background-color: theme-color($key-primary, $key-tint-900);
  display: block;
  width: 100%;
  min-height: theme-fsize($key-fsize-regular) * 2;
  border: none;
  font-size: theme-fsize($key-fsize-regular);
  padding: 0 spacer($key-spacer-2);

  &:focus {
    box-shadow: inset 0 0 8px $black;
  }
}

.form-control-textarea {
  color: theme-color($key-primary, $key-tint-400);
  background-color: theme-color($key-primary, $key-tint-900);
  display: block;
  width: 100%;
  border: none;
  font-family: theme-family($key-family-body);
  font-size: theme-fsize($key-fsize-regular);
  min-height: theme-fsize($key-fsize-regular) * 2;
  padding: spacer($key-spacer-2);

  &:focus {
    box-shadow: inset 0 0 8px $black;
  }
}

.form-error {
  $color: theme-color($key-danger, $key-tint-500);
  border: thin solid $color;
  color: $color;
}

.form-success {
  $color: theme-color($key-success, $key-tint-500);
  border: thin solid $color;
  color: $color;
}