/// C. Contact Section

/// C.1. Containers & Blocks
.section-contact {
  color: $black;
  background-color: $white;
}

/// C.2. Type
.heading-contact {
  color: theme-color($key-primary, $key-tint-800);
  background-color: theme-color($key-primary, $key-tint-500);
  margin-bottom: theme-margin($key-margin-heading);
}