/// C. Contact Section

/// C.1. Containers & Blocks
.section-contact {
  color: $black;
  background-color: $white;
}

.content-contact {
  padding: spacer($key-spacer-2);
  min-height: theme-fsize($key-fsize-x-large) * 6;
  color: theme-color($key-primary, $key-tint-500);
  background-color: theme-color($key-primary, $key-tint-800);
}


/// C.2. Type
.heading-contact {
  color: theme-color($key-primary, $key-tint-800);
  background-color: theme-color($key-primary, $key-tint-500);
  margin-bottom: theme-margin($key-margin-heading);
}


/// C.3. Contact Grid
.cell-contact-name {
  grid-area: contact-name;
}

.cell-contact-email {
  grid-area: contact-email;
}

.cell-contact-mobile {
  grid-area: contact-mobile;
}

.cell-contact-subject {
  grid-area: contact-subject;
}

.cell-contact-message {
  grid-area: contact-message;
}

.cell-contact-submit {
  grid-area: contact-submit;
}

.grid-contact {
  width: 80vw;
  margin: 0 auto;
  grid-template-areas:
    'contact-name'
    'contact-email'
    'contact-mobile'
    'contact-subject'
    'contact-message'
    'contact-submit';
}

@media only screen and (min-width: theme-breakpoint($key-bp-phone)) {
  .grid-contact {
    grid-template-areas:
      'contact-name'
      'contact-email contact-mobile'
      'contact-subject'
      'contact-message'
      'contact-submit';
  }
}


/// C.4. Form elements
.form-label {
  display: inline-block;
  padding: spacer($key-spacer-2);
  color: theme-color($key-primary, $key-tint-500);
  background-color: theme-color($key-primary, $key-tint-900);
  font-size: theme-fsize($key-fsize-regular);
}

.form-control {
  display: inline-block;
  padding: spacer($key-spacer-2);
  color: theme-color($key-primary, $key-tint-500);
  background-color: theme-color($key-primary, $key-tint-900);
  font-size: theme-fsize($key-fsize-regular);
  border: none;
  width: auto;
}