/// T. Theme


/// T.1. Colors
$primary:       color('blue-gray');
$secondary:     color('deep-purple');
$interactable:  color('orange');
$action:        color('blue');
$danger:        color('red');
$success:       color('green');

$theme-colours: (
  'primary':       $primary,
  'secondary':     $secondary,
  'interactable':  $interactable,
  'action':        $action,
  'danger':        $danger,
  'success':       $success,
);

@function theme-color($color-name) {
  $color: map-get($theme-colours, $color-name);
  @if ($color) {
    @return $color;
  } @else {
    @warn 'Theme color not found in $theme-colors.';
  }
}


/// T.2. Fonts
$heading-family: $oswald, 'Verdana', 'Arial', 'Helvetica', sans-serif;
$body-family: $montserrat, 'Arial', 'Helvetica', sans-serif;
$monospace-family: $sourceCodePro, 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;

$theme-families: (
  'heading-family': $heading-family,
  'body-family': $body-family,
  'monospace-family': $monospace-family
);

@function font-family($family-name) {
  $family: map-get($theme-families, $family-name);
  @if ($family) {
    @return $family;
  } @else {
    @warn 'Font family not found in $theme-families.';
  }
}


$font-size: 16px;
$theme-sizes: (
  'small': 0.8rem,
  'regular': 1rem,
  'regular-l': 1.25rem,
  'large': 1.5rem,
  'x-large': 2rem,
  'xx-large': 2.5rem,
  'heading': 3rem,
  'heading-l': 3.8rem,
  'display': 6rem
);
@function font-size($size) {
  $font-size: map-get($theme-sizes, $size);
  @if ($font-size) {
    @return $font-size;
  } @else {
    @warn 'Font size not found in $theme-sizes';
  }
}


/// T.3. Spacing
$spacer-unit: 1rem;
$spacers: (
  '1': $spacer-unit * 0.25,
  '2': $spacer-unit * 0.5,
  '3': $spacer-unit * 1,
  '4': $spacer-unit * 1.25,
  '5': $spacer-unit * 2
);

@function spacer($spacer-index) {
  $spacer: map-get($spacers, $spacer-index);
  @if ($spacer) {
    @return $spacer;
  } @else {
    @warn 'Spacer-index not found in $spacers';
  }
}