/// T. Theme


/// T.1. Colors
$primary:       $blue-grays;
$secondary:     $teals;
$interactable:  $oranges;
$action:        $blues;
$danger:        $reds;
$success:       $greens;

$theme-colors: (
  'primary':      $primary,
  'secondary':    $secondary,
  'interactable': $interactable,
  'action':       $action,
  'danger':       $danger,
  'success':      $success,
  'gray':         $grays,
);

@function theme-color($name, $tint) {
  $color-map: map-get($theme-colors, $name);
  @if ($color-map) {
    $color: map-get($color-map, $tint);
    @if ($color) {
      @return $color;
    } @else {
      @warn 'Color not found in $theme-colors';
    }
  } @else {
    @warn 'Color Map not found in $theme-colors';
  }
}


/// T.2. Fonts
/// T.2.a Font Families
$heading-family: $anton, sans-serif;
$body-family: $montserrat, sans-serif;
$monospace-family: $sourceCodePro, monospace;

$theme-families: (
  'heading-family': $heading-family,
  'body-family': $body-family,
  'monospace-family': $monospace-family
);

@function theme-family($family-name) {
  $family: map-get($theme-families, $family-name);
  @if ($family) {
    @return $family;
  } @else {
    @warn 'Font family not found in $theme-families.';
  }
}


/// T.2.b Font Sizes
$font-size: 16px;
$theme-fsizes: (
  'small': 0.8rem,
  'regular': 1rem,
  'regular-l': 1.25rem,
  'large': 1.5rem,
  'x-large': 2rem,
  'xx-large': 2.5rem,
  'heading': 3rem,
  'heading-l': 3.8rem,
  'display': 8rem
);
@function theme-fsize($size) {
  $font-size: map-get($theme-fsizes, $size);
  @if ($font-size) {
    @return $font-size;
  } @else {
    @warn 'Font size not found in $theme-sizes';
  }
}


/// T.2.c Headings
$heading-display: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('extra-light'),
  'font-size': theme-fsize('display'),
  'font-style': normal
);
$heading-h1: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('extra-light'),
  'font-size': theme-fsize('heading-l'),
  'font-style': normal
);
$heading-h2: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('extra-light'),
  'font-size': theme-fsize('heading'),
  'font-style': normal
);
$heading-h3: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('extra-light'),
  'font-size': theme-fsize('xx-large'),
  'font-style': normal
);
$heading-h4: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('regular'),
  'font-size': theme-fsize('x-large'),
  'font-style': normal
);
$heading-h5: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('regular'),
  'font-size': theme-fsize('large'),
  'font-style': normal
);
$heading-h6: (
  'font-family': theme-family('heading-family'),
  'font-weight': font-weight('bold'),
  'font-size': theme-fsize('regular-l'),
  'font-style': normal
);

$theme-headings: (
  'display': $heading-display,
  'h1': $heading-h1,
  'h2': $heading-h2,
  'h3': $heading-h3,
  'h4': $heading-h4,
  'h5': $heading-h5,
  'h6': $heading-h6
);
@function theme-heading($heading) {
  $theme-heading: map-get($theme-headings, $heading);
  @if ($theme-heading) {
    @return $theme-heading;
  } @else {
    @warn 'Heading styles not found in $theme-headings';
  }
}


/// T.3. Spacing
$spacer-unit: 1rem;
$spacers: (
  '1': $spacer-unit * 0.25,
  '2': $spacer-unit * 0.5,
  '3': $spacer-unit * 1,
  '4': $spacer-unit * 1.25,
  '5': $spacer-unit * 2
);

@function spacer($spacer-index) {
  $spacer: map-get($spacers, $spacer-index);
  @if ($spacer) {
    @return $spacer;
  } @else {
    @warn 'Spacer-index not found in $spacers';
  }
}