/// Y. Type

/// Y.1 Styles
/// Y.1.a Font Weight
@each $name, $weight in $font-weights {
  .text-weight-#{$name} {
    font-weight: $weight;
  }
}

/// Y.1.b Font Styles
@each $name, $style in $font-styles {
  .text-style-#{$name} {
    font-style: $style;
  }
}

/// Y.1.c Font Sizes
@each $name, $fsize in $theme-fsizes {
  .text-size-#{$name} {
    font-size: $fsize;
  }
}